<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div style="height: 100px; width: 400px">
      <% if (user) { %>
      <form action="/logout" method="POST">
        <div>
          Logged in as: <%= user.email %>
          <button type="submit" class="btn btn-success">Logout</button>
        </div>
      </form>

      <% } else { %>
      <div style="margin-top: 35px" height="42" width="42">
        <a
          href="/login"
          class="btn btn-success"
          role="button"
          aria-disabled="true"
          style="margin-left: 160px"
          >Login</a
        >
        <a
          href="/register"
          class="btn btn-success"
          role="button"
          aria-disabled="true"
          style="margin-left: 10px"
          >Register</a
        >
      </div>
    </div>

    <% } %>
  </nav>
</header>
